<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mywpempire.zajecarska-inicijativa"
        version   = "1.0.0">
    
    <icon src="icon.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icon.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icon.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icon.png" gap:platform="android" gap:density="xhdpi" />

    <name>Zajecarska Inicijativa</name>

    <description>
        Zajecarska Inicijatica App
    </description>

    <author href="http://mywpempire.com" email="info@mywpempire.com">
        IvanWasHere
    </author>

    <preference name="phonegap-version" value="3.0.0" /> 

    <gap:plugin name="org.apache.cordova.core.camera" />
</widget>
